@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  
  --color-primary: #1d4ed8; /* Blue-700 */
  --color-primary-light: #2563eb; /* Blue-600 */
  --color-primary-dark: #1e40af; /* Blue-800 */
  --color-background: #ffffff;
  --color-foreground: #111827; /* Gray-900 */
  --color-muted: #f3f4f6; /* Gray-100 */
  --color-muted-foreground: #6b7280; /* Gray-500 */
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
